.login__caption{
  padding: 0;
  margin: 15px auto 0 auto;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer;
  max-width: max-content;
  text-decoration: none;
  transition: all .3s;
  position: relative;
  animation: appearing 1.6s ease-in-out;
}

.login__caption:hover{
  opacity: 0.5;
}

.login__caption::after{
  content: '';
  width: 3%;
  height: 1px;
  background: white;
  position: absolute;
  bottom:0;
  left: 0;
  opacity: 0;
  transition: all .7s;
}

.login__caption:hover::after{
  content: '';
  width: 100%;
  opacity: 1;
}

@media screen and (max-width:400px){
  .login__caption{
    font-size: 14px;
    line-height: 17px;
  }
}