.login__submit{
  width: 100%;
  margin: 216px 0 0 0;
  padding: 0;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 2px;
  background-color: white;
  padding: 14px 84px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: all .3s;
  animation: appearing 1.4s ease-in-out;
}

.login__submit:hover{
  transform: scale(1.05);
  opacity: 0.8;
}

.login__submit:active{
  background-color: grey;
  color: white;
  outline: none;
  opacity: 1;
}

@media screen and (max-width:400px){
  .login__submit{
    margin: 173px 0 0 0 ;
  }
}