.login__title{
  color: white;
  margin: 60px auto 50px ;
  font-weight: 900;
  font-size: 28px;
  line-height: 29px;
  letter-spacing: 2px;
  text-shadow: 2px 3px rgba(172, 172, 172, 0.27);
  font-family: 'Inter';
  animation: appearing .8s ease-in-out;
}

@media screen and (max-width:400px){
  .login__title{
    font-size: 20px;
    line-height: 24px;
    margin: 40px auto;
  }
}