.profile__avatar-image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    z-index: 1;
    position: relative;
    display: block;
    object-fit: cover;
    animation: appearingLeft .7s ease-in-out;
}
